<p>
  <strong>Grade:</strong>
  <%= @rating.grade %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @rating.comment %>
</p>

<p>
  <strong>Teacher course:</strong>
  <%= @rating.teacher_course_id %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
